.above-footer {
	background-color:red;
	padding:60px 0px;
	text-align:center;
	color:white;
	margin-top:50px;
}

.above-footer button {
	color:white;
	border:3px solid white;
	background:transparent;
	font-weight:bold;
	padding:10px 30px;
	margin:20px;
}

.above-footer button:hover {
	color:red;
	border:3px solid red;
	background:white;
}